/*ligne1*/

.reseau {
    display: flex;
        -webkit-box-flex: unset;
        flex-direction: row;
        justify-content: end;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.linkedin-img {
    margin-top: 8px;
    margin-bottom: 8px;
    align-items: flex-end;
}

.facebook-img,
.xing-img {
    border-right: 1px solid black;
    margin-right: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
}
/*ligne2*/
.logo-slogan {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
        margin-bottom: 5px;
}

h5 {
    width: 50%;
    padding: 0px;
    margin: 0px;
    position: relative;
    top: 80px;
    bottom: 105px;
}

.slogan {
    text-align: end;
    float: right;
    height: auto;
    position: relative;
}

.logo {
    width: 50%;
    margin: 0%;
    padding: 0%;
    flex-direction: row;
}

/*ligne3*/
    
.keyvisual-image {
    height: fit-content;
}
    
.image {
    width: 100%;
    height: fit-content;
}
    
/*ligne4*/
.title {
    width: 60%;
    color: white;
    background-color: #00305e;
    margin-left: auto;
    margin-right: auto;
    font-size: 27px;
    text-align: justify;
}

/*ligne5*/
.navigation {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}
.element{
    border-right: 1px solid black;
    justify-items:auto;
    margin-top: 15px;
        margin-bottom: 15px;
        margin-right: 25px;
}
a{
    font-size: 20px;
    text-align: justify;
    margin-right: 25px;
}
nav {
    border-bottom: 1px solid black;
}

.element4 {
    margin-top: 15px;
    margin-bottom: 15px;
    border-right: none;
}

ul {
    align-items: center;
}