@media all and (min-width: 576px) and (max-width: 992px) {}

.slogan {
    text-align: end;
}

#barre {
    color: blueviolet;
}
#navid {
    padding-right: 20%;
    padding-left: 20%;
    text-align: center;
}

#title {
    background-color: lightskyblue;
    color: navy;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-align: center;
    font-size: large;
    padding-right: 20%;
    padding-left: 20%;
}

.col {
    padding-right: 20%;
    padding-left: 20%;
    text-align: justify;
    }
    
    #navbarNavAltMarkup {
        text-align: center;
        font-size: larger;
            font-weight: bolder;
            color: darkblue;
}
h1 {
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
}